body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

.hero-section {
    margin-top: 0%;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 100%;
}

.hero-text {
    text-align: center;
    padding-top: 10%;
    color: white;
}

.hero-head {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
}

.hero-para {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 50px;
}

.hero-button {
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 18px 21px;
    text-decoration: none;
}

.donate-now {
    text-align: center;
}

.donate-now-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.donate-now-para {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.donate-now-amount {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.amount {
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 44px 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: gray;
}

.special-amount {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 44px 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
}

.input-amount {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 765px;
    margin-bottom: 30px;
}

.amount-button {
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    text-decoration: none;
}

.donate-plan {
    text-align: center;
}

.donate-programs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.mission-item {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 20px;
}

.illustrations {
    padding-top: 63px;
}

#food {
    background-color: rgba(79, 157, 166, 0.1);
    text-align: left;
}

#shelter {
    background-color: rgba(255, 89, 89, 0.1);
    text-align: left;
}

#education {
    background-color: rgba(255, 244, 214, 1);
    text-align: left;
}

.para {
    text-align: justify;
    padding-right: 2px;
    margin-right: 5%;
}

#last {
    margin-top: 130px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.orange-color {
    color: #FF5959;
}

.footer-button {
    text-decoration: none;
}

.footer-head {
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
}

footer {
    padding: 10px;
}